<a href="https://colab.research.google.com/github/candy-shecode/test-colab/blob/main/Python_Practices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print("Learn Python!")

Learn Python!

In [12]:
age = 20
print(f"I am {age} years old")

I am 20 years old

In [15]:
man = "Python"
Nam = "3.8"
print(man + "," + str(Nam))

Python,3.8

In [79]:
man = "Python"
Nam = "3.8"
print(f'{man} , {Nam}')

Python , 3.8

In [16]:
price = 199.99
print(f'This cost, {price}')

This cost, 199.99

In [18]:
price = 69.99
discount = "10%"
print(f"This cost {price} with a discount of {discount}")

This cost 69.99 with a discount of 10%

In [24]:

product = 34.99
duct = 20 
print(f'price: ${product}. Weight: {duct}Ibs.')

price: $34.99. Weight: 20Ibs.

In [27]:
pi = 3.1415926535
print (f'Pi: {pi:.4f}')

Pi: 3.1416

In [28]:
print('----------------------------------------', end = ' ' )
print('VERSION: 1.0.1', end = ' ')
print('----------------------------------------', end = ' ')

---------------------------------------- VERSION: 1.0.1 ----------------------------------------

In [29]:
print('-' * 40)
print('VERSION: 1.0.1')
print('-' * 40)

----------------------------------------
VERSION: 1.0.1
----------------------------------------

In [30]:
print(':' * 10)
print('VICTORY BELONGS TO JESUS')
print('=' * 10)

::::::::::
VICTORY BELONGS TO JESUS
==========

In [31]:
print('=' * 40)
print('autor: johnsmith@sample.com')
print('date: 01-01-2021')
print('=' * 40)

========================================
autor: johnsmith@sample.com
date: 01-01-2021
========================================

In [80]:
print('summer','time','holiday' sep ='#')

SyntaxError: ignored

In [34]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 5
The area of the circle with radius 5.0 is: 78.53981633974483

In [39]:
from math import pi
r = 5
pi = 3.14
area = pi * r ** 2
print(f"Area: {area:.1f}")

Area: 78.5

In [40]:
present_value = 1000 
interest_rate = 0.03
investment_period = 5
future_value = present_value * (1 + interest_rate) ** investment_period
print(f'The future value of the investment: {future_value:.2f} USD')
print()

The future value of the investment: 1159.27 USD

In [41]:
var = ''
var2 = ' '
var3 = '\n'
print(type(var))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
var1 = None
var2 = False
var3 = 'True'
print(type(var1))
print(type(var2))
print(type(var3))

In [43]:
flag = False

print(isinstance(flag, bool))

True

In [46]:
text = 'python is a popular programming language'
print(text.capitalize())

Python is a popular programming language

In [49]:
text = 'python is a popular programming language'
mun = text.count('p')
print(f'Number of occurrences: {mun}')

Number of occurrences: 4

In [51]:
text = 'python is a popular programming language'

print(f"Number of occurrences: {text.count('p')}")

Number of occurrences: 4

In [54]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'
print(f"code1: {code1.endswith('2020')}")
print(f"code2: {code2.endswith('2020')}")

code1: True
code2: False

In [57]:
path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'
print(f"path1: {path1.startswith('youtube')}")
print(f"path2: {path2.startswith('youtube')}")

path1: True
path2: False

In [58]:
path1 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
path2 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer'
path3 = 'https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst'
print(f"path1: {path1.find('scientist')}") 
print(f"path2: {path2.find('scientist')}") 
print(f"path3: {path3.find('scientist')}")

path1: 49
path2: 49
path3: -1

In [59]:
code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'
print(f"code1: {code1.isalnum()}")
print(f"code2: {code2.isalnum()}")

code1: False
code2: True

In [60]:
text = 'Google Colab'
print(text.lower())

google colab

In [61]:
text = 'Google Colab'
print(text.upper())

GOOGLE COLAB

In [62]:
text = '  Google Colab   '
print(text.strip())

Google Colab

In [64]:
code = 'FVNISJND-XX'
print(code.replace('-', ' '))

FVNISJND XX

In [65]:
text = '340-23-245-235'
print(text.replace('-', ''))

34023245235

In [66]:
text = 'Open,High,Low,Close'
print(text.split(','))

['Open', 'High', 'Low', 'Close']

In [73]:
text = """Python is a general-purpose language.
Python is popular."""
text1 = text.splitlines()
print(text1)

['Python is a general-purpose language.', 'Python is popular.']

In [78]:
num = 34
print(str(num).zfill(6))

000034

In [83]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
divide = url.split('\')[-1]
divide = divide.replace('-',' ')
print(divide)

SyntaxError: ignored

In [92]:
subjects = {'mathematics', 'biology'}
subjects.add('english')
print(subjects)

{'biology', 'mathematics', 'english'}

In [113]:
text = 'Programming in python.'
text = text.lower()
text = text.replace(' ', '')
text = text.replace('.', '')
vowels = {'a', 'e', 'i', 'o', 'u'}
letters = set(text)
consonants = letters.difference(vowels)

print(f'Number of items: {len(consonants)}')

Number of items: 8

In [126]:
A = {2, 4, 6, 8}
B = {4, 10}
c = A .symmetric_difference(B)
print(f'Symmetric difference: {c}')

Symmetric difference: {2, 6, 8, 10}

In [128]:
ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}
ran_id = ad1_id .symmetric_difference(ad2_id)
print(f'SelectedID: {ran_id}')

SelectedID: {'001', '007'}

In [129]:
is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}
customer_id = is_clicked.intersection(is_bought)
print(f'Customer ID: {customer_id}')

Customer ID: {'9002', '9005'}

In [130]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
result = dji1 + dji2
print(result)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [132]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
result = (dji1,) + (dji2,)
print(result)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [138]:
members = (('Kate', 23), ('Tom', 19))
members = (members[0], ('John', 26), members[1]
print(members)

SyntaxError: ignored