<a href="https://colab.research.google.com/github/candy-shecode/test-colab/blob/main/Python_Practices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Learn Python!")

Learn Python!

In [ ]:
age = 20
print(f"I am {age} years old")

I am 20 years old

In [ ]:
man = "Python"
Nam = "3.8"
print(man + "," + str(Nam))

Python,3.8

In [ ]:
man = "Python"
Nam = "3.8"
print(f'{man} , {Nam}')

Python , 3.8

In [ ]:
price = 199.99
print(f'This cost, {price}')

This cost, 199.99

In [ ]:
price = 69.99
discount = "10%"
print(f"This cost {price} with a discount of {discount}")

This cost 69.99 with a discount of 10%

In [ ]:

product = 34.99
duct = 20 
print(f'price: ${product}. Weight: {duct}Ibs.')

price: $34.99. Weight: 20Ibs.

In [ ]:
pi = 3.1415926535
print (f'Pi: {pi:.4f}')

Pi: 3.1416

In [ ]:
print('----------------------------------------', end = ' ' )
print('VERSION: 1.0.1', end = ' ')
print('----------------------------------------', end = ' ')

---------------------------------------- VERSION: 1.0.1 ----------------------------------------

In [ ]:
print('-' * 40)
print('VERSION: 1.0.1')
print('-' * 40)

----------------------------------------
VERSION: 1.0.1
----------------------------------------

In [ ]:
print(':' * 10)
print('VICTORY BELONGS TO JESUS')
print('=' * 10)

::::::::::
VICTORY BELONGS TO JESUS
==========

In [ ]:
print('=' * 40)
print('autor: johnsmith@sample.com')
print('date: 01-01-2021')
print('=' * 40)

========================================
autor: johnsmith@sample.com
date: 01-01-2021
========================================

In [82]:
vac = ('summer','time','holiday')
print('summer','time','holiday' sep ='#')

SyntaxError: ignored

In [ ]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 5
The area of the circle with radius 5.0 is: 78.53981633974483

In [ ]:
from math import pi
r = 5
pi = 3.14
area = pi * r ** 2
print(f"Area: {area:.1f}")

Area: 78.5

In [ ]:
present_value = 1000 
interest_rate = 0.03
investment_period = 5
future_value = present_value * (1 + interest_rate) ** investment_period
print(f'The future value of the investment: {future_value:.2f} USD')
print()

The future value of the investment: 1159.27 USD

In [ ]:
var = ''
var2 = ' '
var3 = '\n'
print(type(var))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
var1 = None
var2 = False
var3 = 'True'
print(type(var1))
print(type(var2))
print(type(var3))

In [ ]:
flag = False

print(isinstance(flag, bool))

True

In [ ]:
text = 'python is a popular programming language'
print(text.capitalize())

Python is a popular programming language

In [ ]:
text = 'python is a popular programming language'
mun = text.count('p')
print(f'Number of occurrences: {mun}')

Number of occurrences: 4

In [ ]:
text = 'python is a popular programming language'

print(f"Number of occurrences: {text.count('p')}")

Number of occurrences: 4

In [ ]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'
print(f"code1: {code1.endswith('2020')}")
print(f"code2: {code2.endswith('2020')}")

code1: True
code2: False

In [ ]:
path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'
print(f"path1: {path1.startswith('youtube')}")
print(f"path2: {path2.startswith('youtube')}")

path1: True
path2: False

In [ ]:
path1 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
path2 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer'
path3 = 'https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst'
print(f"path1: {path1.find('scientist')}") 
print(f"path2: {path2.find('scientist')}") 
print(f"path3: {path3.find('scientist')}")

path1: 49
path2: 49
path3: -1

In [ ]:
code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'
print(f"code1: {code1.isalnum()}")
print(f"code2: {code2.isalnum()}")

code1: False
code2: True

In [ ]:
text = 'Google Colab'
print(text.lower())

google colab

In [ ]:
text = 'Google Colab'
print(text.upper())

GOOGLE COLAB

In [ ]:
text = '  Google Colab   '
print(text.strip())

Google Colab

In [ ]:
code = 'FVNISJND-XX'
print(code.replace('-', ' '))

FVNISJND XX

In [ ]:
text = '340-23-245-235'
print(text.replace('-', ''))

34023245235

In [ ]:
text = 'Open,High,Low,Close'
print(text.split(','))

['Open', 'High', 'Low', 'Close']

In [ ]:
text = """Python is a general-purpose language.
Python is popular."""
text1 = text.splitlines()
print(text1)

['Python is a general-purpose language.', 'Python is popular.']

In [51]:
num = 34
print(str(num).zfill(6))

000034

In [ ]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
divide = url.split('\')[-1]
divide = divide.replace('-',' ')
print(divide)

SyntaxError: ignored

In [ ]:
subjects = {'mathematics', 'biology'}
subjects.add('english')
print(subjects)

{'biology', 'mathematics', 'english'}

In [ ]:
text = 'Programming in python.'
text = text.lower()
text = text.replace(' ', '')
text = text.replace('.', '')
vowels = {'a', 'e', 'i', 'o', 'u'}
letters = set(text)
consonants = letters.difference(vowels)

print(f'Number of items: {len(consonants)}')

Number of items: 8

In [ ]:
A = {2, 4, 6, 8}
B = {4, 10}
c = A .symmetric_difference(B)
print(f'Symmetric difference: {c}')

Symmetric difference: {2, 6, 8, 10}

In [ ]:
ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}
ran_id = ad1_id .symmetric_difference(ad2_id)
print(f'SelectedID: {ran_id}')

SelectedID: {'001', '007'}

In [ ]:
is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}
customer_id = is_clicked.intersection(is_bought)
print(f'Customer ID: {customer_id}')

Customer ID: {'9002', '9005'}

In [ ]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
result = dji1 + dji2
print(result)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [ ]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
result = (dji1,) + (dji2,)
print(result)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [ ]:
members = (('Kate', 23), ('Tom', 19))
members = (members[0], ('John', 26), members[1]
print(members)

SyntaxError: ignored

In [1]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')
countt = default.count('YES')
print(f'Number of occurrences: {countt}')

Number of occurrances: 2

In [8]:
names = ('Monica', 'Tom', 'John', 'Michael')
result = tuple(sorted(names))
print(result)

('John', 'Michael', 'Monica', 'Tom')

In [12]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
ascend = tuple(sorted(info))
descend = tuple(sorted(info, reverse = True))
print(f'Ascending:{ascend}')
print(f'Descending: {descend}')

Ascending:(('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

In [15]:
asc = tuple(sorted(info, key=lambda item: item[1]))
desc = tuple(sorted(info, key=lambda item: item[1], reverse=True))
print(f'Ascending: {asc}')
print(f'Descending: {desc}')

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

In [24]:
stocks = (
    ('Apple Inc', ('AAPL.US', 310)),
    ('Microsoft Corp', ('MSFT.US', 184)),
)
print(stocks[0][1][0])

AAPL.US

In [26]:
cities = ['Los Angeles', 'New York', 'Chicago']
cities.append("Houston")
print(cities)

['Los Angeles', 'New York', 'Chicago', 'Houston']

In [27]:
idx = ['001', '002', '001', '003', '001']
result = idx.count('001')
print(f'Number of occurrences: {result}')

Number of occurrences 3

In [52]:
text = 'Python programming'
text = text.lower()

text = text.replace(" ", "")
listt = sorted(text)
#print(listt)
output=[]
for x in listt:
  if x  not in output:
    output.append(x)
print(output)

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [ ]:
text = 'Python programming'
text = text.lower()
characters = list(set(text))
characters.remove(' ')
characters.sort()
print(characters)

In [54]:
text = 'Python programming'
text = text.lower()
characters = list(set(text))
characters.remove(' ')
characters.sort()

print(characters)

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [64]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0,'phone.jpg')
del filenames[3]
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

In [65]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0,'phone.jpg')
filenames.remove('ball.png')
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

In [66]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0,'phone.jpg')
filenames.pop()
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

In [72]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']
day1.extend(day2)
print(day1)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

In [70]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']
print(day1 + day2)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

In [ ]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']
print(day1 + day2)

In [77]:
techs = ('python', 'java', 'sql', 'aws')
techs = list(sorted(techs))
techs = tuple(techs)
print(techs)

('aws', 'java', 'python', 'sql')

In [76]:
techs = ('python', 'java', 'sql', 'aws')
techs = tuple(sorted(techs))
print(techs)

('aws', 'java', 'python', 'sql')

In [78]:
hashtags = ['summer', 'time', 'vibes']
print(hashtags, sep='#')

['summer', 'time', 'vibes']

In [85]:
hashtags = ['summer', 'time', 'vibes']
print('#' + '#'.join(hashtags))

#summer#time#vibes

In [91]:
my_dict = { 'USA': 'Washington',
'Germany': 'Berlin',
'Austria': 'Vienna', 
}
print(my_dict)

{'USA': 'Washington', 'Germany': 'Berlin', 'Austria': 'Vienna'}

In [97]:
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}
dict_keys = capitals.keys()
print(dict_keys)

dict_keys(['USA', 'Germany', 'Austria'])

In [98]:
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}
dict_values = capitals.values()
print(dict_values)

dict_values(['Washington', 'Berlin', 'Vienna'])

In [5]:
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}
dict_items = capitals.items()
print(dict_items)

dict_items([('USA', 'Washington'), ('Germany', 'Berlin'), ('Austria', 'Vienna')])

In [8]:
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}
gett = capitals.get('Austria')
print(gett)

Vienna

In [9]:
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}
print(capitals.get('Austria'))

Vienna

In [10]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
print(stocks.get('AAPL.US'))

{'Apple Inc': 310}

In [13]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
print(stocks['AAPL.US'])

{'Apple Inc': 310}

In [19]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
print(stocks.get('MSFT.US')['Microsoft Corp'])
print(stocks['MSFT.US']['Microsoft Corp'])

184
184

In [28]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
stocks['MSFT.US']['Microsoft Corp'] = 190
print(stocks['MSFT.US'])

{'Microsoft Corp': 190}

In [34]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
stocks['V.US'] = {'Visa Inc': 185}
print(stocks.values())

dict_values([{'Microsoft Corp': 184}, {'Apple Inc': 310}, {'3M Co': 148}, {'Visa Inc': 185}])